
stages:
  - postman

postman_tests:
    stage: postman
    image: docker:20.10.16
    services:
        - docker:20.10.16-dind
    before_script:
        - node --version
        - npm --version
        - npm install -g newman
        - docker-compose -f docker-compose.yml up -d 
    script:
        - newman run PostmanTests/test_entity_update.postman_collection.json
    after_script:
        - docker-compose -f docker-compose.yml down
