stages:
  - postman

postman_tests:
    stage: postman
    image: node:16.13.2
    before_script:
        - node --version
        - npm --version
        - npm install -g newman
    script:
        - newman run PostmanTests/test_entity_update.postman_collection.json
