
stages:
  - pythontest
  - postman

postman_tests:
    stage: postman
    image: alpine:latest
    before_script:
        - apk update
        - apk add --update nodejs npm
        - node --version
        - npm --version
        - npm install -g newman
    script:
        - newman run postman/test_entity_update.postman_collection.json
        - newman run postman/test_quantumleap_subscriptions.postman_collection.json

py_unittest:
    stage: pythontest
    image: docker:24.0.5
    services:
        - docker:24.0.5-dind
    variables:
        DOCKER_HOST: tcp://docker:2375/
        DOCKER_DRIVER: overlay2
    before_script:
        - docker version
        - docker-compose version
        - apk update
        - apk add --update nodejs npm
        - node --version
        - npm --version
        - apk add --update python3=3.10.13 py3-pip  # Add Python and pip
        - python3 --version         # Verify Python installation
        - pip3 --version
        - pip install pytest
        - git clone https://github.com/N5GEH/n5geh.platform.git
    script:
        - docker-compose -f ./n5geh.platform/v2/docker-compose.yml up -d
        - docker ps
        - python -m unittest discover --verbose -s "validation_tests" -p "test_*.py"

