
stages:
  - postman

postman_tests:
    stage: postman
    image: alpine:latest
    before_script:
        - apk update
        - apk add --update nodejs npm
        - node --version
        - npm --version
        - npm install -g newman
    script:
        - newman run postman/test_entity_update.postman_collection.json
        - newman run postman/test_quantumleap_subscriptions.postman_collection.json
