
stages:
  - postman

postman_tests:
    stage: postman
    image: docker:24.0.5
    services:
        - docker:24.0.5-dind
    variables:
        DOCKER_HOST: tcp://docker:2375/
        DOCKER_DRIVER: overlay2
    before_script:
        - docker version
        - apk update
        - apk add --update nodejs npm
        - node --version
        - npm --version
        - npm install -g newman
    script:
        - docker-compose -f docker-compose.yml up -d 
        - newman run PostmanTests/test_entity_update.postman_collection.json
