
stages:
  - postman

postman_tests:
    stage: postman
    image: docker/compose:latest
    services:
        - docker:dind
    variables:
        DOCKER_HOST: tcp://docker:2376
        DOCKER_DRIVER: overlay
        DOCKER_TLS_CERTDIR: "/certs"
    before_script:
        - docker version
        - docker-compose version
        - apk add --no-cache nodejs npm
        - node --version
        - npm --version
        - npm install -g newman
    script:
        - docker-compose -f docker-compose.yml up -d 
        - newman run PostmanTests/test_entity_update.postman_collection.json
