name: Workflow to test the FIWARE setup action

on:
  push:
    paths:
      - '.github/actions/fiware/**'
      - '.github/workflows/fiware_api_test.yml'
      - 'validation_tests/**'

jobs:
  fiware_setup_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup FIWARE Services
        uses: ./.github/actions/fiware
        with:
          healthcheck-urls: 'http://localhost:1026/version http://localhost:8668/version http://localhost:1027/version http://localhost:4041/iot/about'
          timeout-seconds: 60
          orion-version: '3.12.0'
          mongo-db-version: '5.0.24'
          iot-agent-json-version: '1.26.0'
          quantumleap-version: '1.0.0'
          crate-version: '4.8.4'
          orion-ld-version: '1.5.1'
      - name: Show running containers
        run: docker ps -a
      - name: Show docker compose services
        run: docker compose ps
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run validation tests with pytest
        env:
          ORION_URL: http://localhost:1026
          IOTA_JSON_URL: http://localhost:4041
          IOTA_UL_URL: http://localhost:4061
          QL_URL: http://localhost:8668
          QL_URL_INTERNAL: http://quantumleap:8668
          MQTT_BROKER_URL: mqtt://localhost:1883
          MQTT_BROKER_URL_INTERNAL: mqtt://mqtt-broker:1883
        run: pytest validation_tests --maxfail=3 --disable-warnings -v
